.home_left_side {
    position: fixed;
    left: 0;
    
}

.left_side_main {
    color: var(--fb-white-font);
    height: calc(100vh - 3.5em);
    overflow: hidden;
}

.left_side_main:hover {
    overflow: auto;
    transition: all linear 1s;
}

    /* CUSTOM SCROLLBAR */

/* work for chrome, opera, safari */

.left_side_main::-webkit-scrollbar {
    width: var(--custom-scrollbar-width);
}

.left_side_main::-webkit-scrollbar-track {
    background: var(--fb-main-background);
}

.left_side_main::-webkit-scrollbar-track:hover {
    background: var(--custom-scrollbar-track-hover);
}

.left_side_main::-webkit-scrollbar-thumb {
    background: var(--custom-scrollbar-thumb-back);
    border-radius: 1em;
    box-shadow: inset 0 0 8px -3px rgb(28 30 33);
}

.left_side_main::-webkit-scrollbar-thumb:hover {
    background: var(--custom-scrollbar-thumb-back-hover);
}

    /* CUSTOM SCROLLBAR */

.left_side_main a {
    color: white;
    padding: .2em .2em;
    display: flex;
    column-gap: 0.7em;
    margin: .5em;
    border-radius: 10em;
    text-decoration: none;
}

.left_side_main a:hover {
    background-color: var(--fb-third-background);
    transition: all linear .3s;
}

.menu-link-left {
    display: flex;
}
.left-panel-profile {
    display: flex;
    column-gap: .6em;
    align-items: center;
}

.menu-link-left {
    display: flex;
    column-gap: .7em;
}

.menu-lnk-left-info {
    display: flex;
    flex-flow: column wrap;
    line-height: 1.2em;
}

.menu-lnk-left-info small {
    font-size: 80%;
    font-weight: 400;
    color: var(--fb-blue);
    font-size: .7em;
}

span.bull-state-left {
    display: inline-block;
    font-size: 2.3em;
    vertical-align: bottom;
}

.left-panel-profile .MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault { 
    transform: scale(.8);
} /* avatar profile left side shrinked */

span.left-menu-see-more {
    display: flex;
    column-gap: .7em;
    align-items: center;
}

.left-navigation-menu {
    border-bottom: 1px solid var(--fb-third-background);
}

.left-shortcut h2 {
    font-size: 1.2em;
    color: #8f979a;
    margin: .5em;
}

span.icon-left-sh {
    width: 2.4em;
    height: 1.6em;
    border-radius: .5em;
}

span.icon-left-sh img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}